<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @employ.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employ.last_name %>
</p>

<!-- <p>
  <strong>Role:</strong>
  <%#= @employ.role %>
</p> -->

<p>
  <strong>Email:</strong>
  <%= @employ.email %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @employ.dob %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @employ.designation %>
</p>

<%= link_to 'Edit', edit_employ_path(@employ) %> |
<%= link_to 'Back', employs_path %>
